<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
</head>

<body>

<div style="display:flex;">

<aside style="
    position:fixed;
    top:0;
    left:0;
    width:250px;
    height:100vh;
    background:#f5f5f5;
    border-right:1px solid #ddd;
">

    <div style="
        padding:20px;
        border-bottom:1px solid #ddd;
        background:#f5f5f5;
    ">
        <h3>📁 Navegação</h3>
        <a href="{{ '/' | relative_url }}">🏠 Início</a>
    </div>

    <div style="
        height:calc(100vh - 100px);
        overflow-y:auto;
        padding:20px;
    ">

    <details>
      <summary>🐧 Linux</summary>
      <ul>
        <li><a href="{{ '/linux/' | relative_url }}">Página inicial</a></li>
        <li><a href="{{ '/linux/comandos-basicos.html' | relative_url }}">Comandos Básicos</a></li>
        <li><a href="{{ '/linux/expandir-lvm.html' | relative_url }}">Expandir LVM</a></li>
      </ul>
    </details>

      <details>
      <summary>⚙️ DevOps</summary>
      <ul>
        <li><a href="{{ '/devops/' | relative_url }}">Página inicial</a></li>
        <li><a href="{{ '/devops/devops.html' | relative_url }}">Conceitos</a></li>
        <li><a href="{{ '/devops/cicd.html' | relative_url }}">CI/CD</a></li>
      </ul>
    </details>

    <details>
      <summary>☸️ Kubernetes</summary>
      <ul>
        <li><a href="{{ '/kubernetes/' | relative_url }}">Página inicial</a></li>
        <li><a href="{{ '/kubernetes/conceito.html' | relative_url }}">Conceitos</a></li>
        <li><a href="{{ '/kubernetes/pods.html' | relative_url }}">Pods</a></li>
        <li><a href="{{ '/kubernetes/deployments.html' | relative_url }}">Deployments</a></li>
        <li><a href="{{ '/kubernetes/services.html' | relative_url }}">Services</a></li>
        <li><a href="{{ '/kubernetes/ingress.html' | relative_url }}">Ingress</a></li>
        <li><a href="{{ '/kubernetes/kubctl.html' | relative_url }}">Kubectl</a></li>
        <li><a href="{{ '/kubernetes/troubleshooting.html' | relative_url }}">Troubleshooting</a></li>
      </ul>
    </details>

    <details>
      <summary>🌿 Git</summary>
      <ul>
        <li><a href="{{ '/git/' | relative_url }}">Página inicial</a></li>
        <li><a href="{{ '/git/git.html' | relative_url }}">Git Básico</a></li>
        <li><a href="{{ '/git/gitintermediario.html' | relative_url }}">Git Intermediário</a></li>
      </ul>
    </details>

    <details>
      <summary>🌐 Redes</summary>
      <ul>
        <li><a href="{{ '/redes/' | relative_url }}">Página inicial</a></li>
      </ul>
    </details>

    <details>
      <summary>🦑 Squid</summary>
      <ul>
        <li><a href="{{ '/squid/' | relative_url }}">Página inicial</a></li>
      </ul>
    </details>

    <details>
      <summary>📊 Monitoramento</summary>
      <ul>
        <li><a href="{{ '/monitoramento/' | relative_url }}">Página inicial</a></li>
        <li><a href="{{ '/monitoramento/conceitos.html' | relative_url }}">Conceitos</a></li>
        <li><a href="{{ '/monitoramento/instalacao-zabbix-server.html' | relative_url }}">Instalação Zabbix Server</a></li>
        <li><a href="{{ '/monitoramento/grafana.html' | relative_url }}">Grafana</a></li>
      </ul>
    </details>

    <details>
      <summary>🥜 Nutanix</summary>
      <ul>
        <li><a href="{{ '/nutanix/' | relative_url }}">Página inicial</a></li>
      </ul>
    </details>

    <details>
      <summary>🐳 Docker</summary>
      <ul>
        <li><a href="{{ '/docker/' | relative_url }}">Página inicial</a></li>
      </ul>
    </details>

    <details>
      <summary>🔥 WatchGuard</summary>
      <ul>
        <li><a href="{{ '/watchguard/' | relative_url }}">Página inicial</a></li>
      </ul>
    </details>

      <details>
    <summary>🪟 Windows</summary>
    <ul>
      <li><a href="{{ '/windows/' | relative_url }}">Página inicial</a></li>
      <li><a href="{{ '/windows/instalacao-aplicativos-exe.html' | relative_url }}">Instalação de arquivo (.exe)</a></li>
      <li><a href="{{ '/windows/instalacao-via-temp.html' | relative_url }}">Instalação de arquivo via \Temp</a></li>
      <li><a href="{{ '/windows/activedirectory.html' | relative_url }}">Active Directory</a></li>
    </ul>
  </details>

      <details>
    <summary>🧰 Troubleshooting</summary>
    <ul>
      <li><a href="{{ '/troubleshooting/' | relative_url }}">Página inicial</a></li>
      <li><a href="{{ '/troubleshooting/troubleshootingwiki.html' | relative_url }}">Troubleshooting Wiki</a></li>
    </ul>
  </details>

    </div>

</aside>