<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
</head>

<body>

<div style="display:flex;">

  <aside style="
      width:250px;
      padding:20px;
      background:#f5f5f5;
      min-height:100vh;">

    <h3>📁 Navegação</h3>

<a href="{{ '/' | relative_url }}">🏠 Início</a>

    <details>
      <summary>🐧 Linux</summary>
      <ul>
        <li><a href="{{ '/linux/' | relative_url }}">Página inicial</a></li>
        <li><a href="{{ '/linux/comandos-basicos.html' | relative_url }}">Comandos Básicos</a></li>
      </ul>
    </details>

<details>
  <summary>☸️ Kubernetes</summary>
  <ul>
    <li><a href="{{ '/kubernetes/' | relative_url }}">Página inicial</a></li>
    <li><a href="{{ '/kubernetes/conceito.html' | relative_url }}">Conceitos</a></li>
    <li><a href="{{ '/kubernetes/pods.html' | relative_url }}">Pods</a></li>
    <li><a href="{{ '/kubernetes/deployments.html' | relative_url }}">Deployments</a></li>
    <li><a href="{{ '/kubernetes/services.html' | relative_url }}">Services</a></li>
    <li><a href="{{ '/kubernetes/ingress.html' | relative_url }}">Ingress</a></li>
    <li><a href="{{ '/kubernetes/kubctl.html' | relative_url }}">Kubectl</a></li>
    <li><a href="{{ '/kubernetes/troubleshooting.html' | relative_url }}">Troubleshooting</a></li>
  </ul>
</details>

    <details>
      <summary>💾 LVM</summary>
      <ul>
        <li><a href="{{ '/lvm/' | relative_url }}">Página inicial</a></li>
        <li><a href="{{ '/lvm/expandir-lvm.html' | relative_url }}">Criar Volume LVM</a></li>
      </ul>
    </details>

    <details>
      <summary>🌿 Git</summary>
      <ul>
        <li><a href="{{ '/git/' | relative_url }}">Página inicial</a></li>
        <li><a href="{{ '/git/git.html' | relative_url }}">Git Básico</a></li>
        <li><a href="{{ '/git/gitintermediario.html' | relative_url }}">Git Intermediário</a></li>
      </ul>
    </details>

    <details>
      <summary>🌐 Redes</summary>
      <ul>
        <li><a href="{{ '/redes/' | relative_url }}">Página inicial</a></li>
      </ul>
    </details>

    <details>
      <summary>🦑 Squid</summary>
      <ul>
        <li><a href="{{ '/squid/' | relative_url }}">Página inicial</a></li>
      </ul>
    </details>

    <details>
      <summary>📊 Zabbix</summary>
      <ul>
        <li><a href="{{ '/zabbix/' | relative_url }}">Página inicial</a></li>
      </ul>
    </details>

    <details>
      <summary>🥜 Nutanix</summary>
      <ul>
        <li><a href="{{ '/nutanix/' | relative_url }}">Página inicial</a></li>
      </ul>
    </details>

    <details>
      <summary>🐳 Docker</summary>
      <ul>
        <li><a href="{{ '/docker/' | relative_url }}">Página inicial</a></li>
      </ul>
    </details>

    <details>
      <summary>📜 Shell Script</summary>
      <ul>
        <li><a href="{{ '/scripts/' | relative_url }}">Página inicial</a></li>
      </ul>
    </details>

    <details>
      <summary>🔥 WatchGuard</summary>
      <ul>
        <li><a href="{{ '/watchguard/' | relative_url }}">Página inicial</a></li>
      </ul>
    </details>

  </aside>

  <main style="padding:30px; flex:1;">
    {{ content }}
  </main>

</div>

</body>
</html>
